USE [OnlineMarketDB]
GO
/****** Object:  User [IIS APPPOOL\onlinemarket]    Script Date: 03/17/2017 10:51:17 ******/
CREATE USER [IIS APPPOOL\onlinemarket] FOR LOGIN [IIS APPPOOL\onlinemarket]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 03/17/2017 10:51:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Roles] ON
INSERT [dbo].[Roles] ([Id], [Title]) VALUES (1, N'Administrator')
INSERT [dbo].[Roles] ([Id], [Title]) VALUES (2, N'User')
INSERT [dbo].[Roles] ([Id], [Title]) VALUES (3, N'Banned user')
SET IDENTITY_INSERT [dbo].[Roles] OFF
/****** Object:  Table [dbo].[Resources]    Script Date: 03/17/2017 10:51:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resources](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_dbo.Resources] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Resources] ON
INSERT [dbo].[Resources] ([Id], [Title], [Price]) VALUES (1, N'Wood', 13.4)
INSERT [dbo].[Resources] ([Id], [Title], [Price]) VALUES (2, N'Iron', 30.5)
INSERT [dbo].[Resources] ([Id], [Title], [Price]) VALUES (3, N'Oil', 28)
SET IDENTITY_INSERT [dbo].[Resources] OFF
/****** Object:  Table [dbo].[DealTypes]    Script Date: 03/17/2017 10:51:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DealTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.DealTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DealTypes] ON
INSERT [dbo].[DealTypes] ([Id], [Type]) VALUES (1, N'Purchase')
INSERT [dbo].[DealTypes] ([Id], [Type]) VALUES (2, N'Sale')
SET IDENTITY_INSERT [dbo].[DealTypes] OFF
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 03/17/2017 10:51:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 03/17/2017 10:51:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Salt] [nvarchar](max) NULL,
	[RoleId] [int] NOT NULL,
	[Balance] [float] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON
INSERT [dbo].[Users] ([Id], [Email], [Password], [Salt], [RoleId], [Balance]) VALUES (1, N's@d', N'xQBo0GDRvKFeRp/CxbmB9gw3ldQlILdjEYHhDNExUFg=', N'5jZZfyxmRBhlSiu+aTGwKw==', 1, 10000)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Table [dbo].[UserResources]    Script Date: 03/17/2017 10:51:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserResources](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ResourceId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserResources] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserResources] ON
INSERT [dbo].[UserResources] ([Id], [UserId], [ResourceId], [Quantity]) VALUES (49, 1, 3, 0)
INSERT [dbo].[UserResources] ([Id], [UserId], [ResourceId], [Quantity]) VALUES (50, 1, 2, 0)
INSERT [dbo].[UserResources] ([Id], [UserId], [ResourceId], [Quantity]) VALUES (51, 1, 1, 0)
SET IDENTITY_INSERT [dbo].[UserResources] OFF
/****** Object:  Table [dbo].[Deals]    Script Date: 03/17/2017 10:51:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ResourceId] [int] NOT NULL,
	[DealTypeId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Amount] [float] NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Deals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_dbo.Deals_dbo.DealTypes_DealTypeId]    Script Date: 03/17/2017 10:51:17 ******/
ALTER TABLE [dbo].[Deals]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Deals_dbo.DealTypes_DealTypeId] FOREIGN KEY([DealTypeId])
REFERENCES [dbo].[DealTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Deals] CHECK CONSTRAINT [FK_dbo.Deals_dbo.DealTypes_DealTypeId]
GO
/****** Object:  ForeignKey [FK_dbo.Deals_dbo.Resources_ResourceId]    Script Date: 03/17/2017 10:51:17 ******/
ALTER TABLE [dbo].[Deals]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Deals_dbo.Resources_ResourceId] FOREIGN KEY([ResourceId])
REFERENCES [dbo].[Resources] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Deals] CHECK CONSTRAINT [FK_dbo.Deals_dbo.Resources_ResourceId]
GO
/****** Object:  ForeignKey [FK_dbo.Deals_dbo.Users_UserId]    Script Date: 03/17/2017 10:51:17 ******/
ALTER TABLE [dbo].[Deals]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Deals_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Deals] CHECK CONSTRAINT [FK_dbo.Deals_dbo.Users_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.UserResources_dbo.Resources_ResourceId]    Script Date: 03/17/2017 10:51:17 ******/
ALTER TABLE [dbo].[UserResources]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserResources_dbo.Resources_ResourceId] FOREIGN KEY([ResourceId])
REFERENCES [dbo].[Resources] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserResources] CHECK CONSTRAINT [FK_dbo.UserResources_dbo.Resources_ResourceId]
GO
/****** Object:  ForeignKey [FK_dbo.UserResources_dbo.Users_UserId]    Script Date: 03/17/2017 10:51:17 ******/
ALTER TABLE [dbo].[UserResources]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserResources_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserResources] CHECK CONSTRAINT [FK_dbo.UserResources_dbo.Users_UserId]
GO
/****** Object:  ForeignKey [FK_dbo.Users_dbo.Roles_RoleId]    Script Date: 03/17/2017 10:51:17 ******/
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId]
GO
